.download {
  max-width: 1170px;
  margin: 0 auto;
  text-align: center;

  @include tablet {
    max-width: 984px;
  }

  @include mobile {
    max-width: 280px;
  }

  &__title {
    font-weight: 500;
    margin-top: 114px;
    margin-bottom: 5px;

    @include tablet {
      margin-top: 77px;
      font-size: rem(24px);
      line-height: rem(28px);
    }

    @include mobile {
      margin-top: 34px;
      font-size: rem(18px);
      line-height: rem(21px);
    }
  }

  &__subtitle {
    font-weight: 700;
    margin-bottom: 50px;

    @include tablet {
      margin-bottom: 43px;
      font-size: rem(14px);
      line-height: rem(16px);
    }

    @include tablet {
      margin-bottom: 11px;
      font-size: rem(13px);
      line-height: rem(15px);
    }
  }

  &__button {
    margin-bottom: 114px;

    @include tablet {
      margin-bottom: 78px;
      font-size: rem(18px);
      line-height: rem(21px);
    }

    @include mobile {
      margin-bottom: 45px;
    }
  }
}
