body {
  font-size: $base-font-size;
  font-family: Raleway, sans-serif;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  background: #e5e5e5;
}

.container {
  max-width: 1194px;
  margin: 0 auto;
  padding: 0 12px;
}

#burger,
[for="burger"] {
  display: none;
  color: white;
}

[for="burger"] {
  @include mobile {
    display: block;
    position: absolute;
    text-align: center;
    right: 15px;
    top: 40px;
  }
}

[for="burger"]:before {
  content: "☰";
}

#burger:checked + label + nav {
  display: block;
}

#burger:checked + [for="burger"]:before {
  content: "✖";
}

h1 {
  font-size: rem(64px);
  line-height: rem(75px);
  text-transform: uppercase;
  color: $white;
}

h2 {
  font-family: Cardo, sans-serif;
  font-size: rem(36px);
  line-height: rem(42px);
  color: $white;
}

h3 {
  font-size: rem(30px);
  line-height: rem(35px);
}

h4 {
  font-size: rem(24px);
  line-height: rem(28px);
  text-transform: uppercase;
}

h5 {
  font-size: rem(18px);
  line-height: rem(21px);
}

h6 {
  font-size: rem(13px);
  line-height: rem(15px);
}

button {
<<<<<<< HEAD
  padding: 25px 60px;
=======
  max-width: 369px;
  padding: 25px 85px;
>>>>>>> f01c5c31cf0500fd195dd23f0a853016eb53811d
  text-transform: uppercase;
  font-size: rem(24px);
  line-height: rem(28px);
  color: $white;
  background: $red;
  cursor: pointer;
}

button:hover {
  background: $darkRed;
  transition: 0.1s;
}

button:active {
  box-shadow: 4px 4px 30px #ff4343;
}

// TODO: DELETE LATER

:root {
  --swiper-pagination-bullet-horizontal-gap: 12.5px;

  @include mobile {
    --swiper-pagination-bullet-horizontal-gap: 10px;
  }
}

.swiper {
  width: 100%;
}

.swiper-pagination {
  position: static;
  margin-top: 31px;

  @include tablet {
    margin-top: 23px;
  }

  &-bullet {
    border: 1px solid #7e5d6f;
    background: none;
    opacity: 1;
    width: 14px;
    height: 14px;

    @include tablet {
      width: 9.5px;
      height: 9.5px;
    }

    &-active {
      background: #7e5d6f;
    }
  }
}
